#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container {
    text-align: center;
}

#myCarousel p {
    font-size: 30px;
    color: darkblue;
    font-family: 'Train One', cursive;
    
}
#myCarousel{
    background-color:coral;
}